.assign-1-shape-1{
    width: 500px;
}
.assign-1-shape-2{
    padding: 20px;
    background-color: blueviolet;
    background-color: rgb(132, 42, 235);
    background-color: #7700ff;
    background-color: rgba(132, 42, 235, 0.377);
}
.assign-1-shape-3{
    background-color: rgba(132, 42, 235, 0.055);
}